# Arquivos de ambiente
.env

# Arquivo de configuração do banco de dados (contém senhas)
# /app/Config/Database.php

# Pasta do Composer
/vendor/

# Pastas de cache, logs e uploads do CodeIgniter
/writable/

# Arquivo de execução do Spark
spark

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Arquivos de log
*.log

# Configurações de IDEs
/.vscode/
/.idea/